* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}
.hide {
  display: none;
}
.roadRacer {
  width: 100%;
  height: 100vh;
  background-image: url("assets/backgrass.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.car,
.enemy {
  width: 50px;
  height: 80px;
  /* background: red; */
  position: absolute;
  /* left: 50px; */
  bottom: 120px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.enemy {
  background-image: url("assets/car1.png");
}
.car {
  background-image: url("assets/car.png");
}

.lines {
  width: 10px;
  height: 100px;
  background: white;
  position: absolute;
  margin-left: 185px;
}
.linesOne {
  width: 10px;
  height: 100px;
  background: white;
  position: absolute;
  margin-left: 400px;
}
.gameArea {
  width: 600px;
  height: 100vh;
  background: #2d3436;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-right: 7px dashed #c8d6e5;
  border-left: 7px dashed #c8d6e5;
}
.score {
  position: absolute;
  top: 15px;
  left: 10px;
  background: #10ac84;
  width: 150px;
  /* height: 70px; */
  line-height: 70px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 5px 5px #777;
}
.healthLine {
  display: flex;
  text-align: center;
  position: absolute;
  top: 98px;
  left: 10px;
  background: antiquewhite;
  width: 90px;
  line-height: 30px;
  font-size: 18px;
}

.livesLine {
  font-size: 18px;
  position: absolute;
  top: 140px;
  left: 10px;
  width: 95px;
  background: antiquewhite;
}
#lives-icons {
  color: red;
}

.popUp {
  position: absolute;
  background-color: aliceblue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(164, 72, 72);
  z-index: 1;
  text-align: center;
  border: 1px solid #320707;
  padding: 15px;
  margin: auto;
  width: 50%;
  cursor: pointer;
  letter-spacing: 5;
  font-size: 20px;
  word-spacing: 3;
  line-height: 30px;
  text-transform: uppercase;
  box-shadow: 0 5px 5px #777;
}
h1 {
  color: #6a4f4f;
}

.projectile {
  background-color: red;
  height: 20px;
  width: 20px;
}
.instructions {
  background-color: #c8d6e5;
  display: flex;
  left: 10px;
}
